a.NavRouterLink {
  color: #fff;
  text-decoration: none;

}
a.NavRouterLink:focus {
  color: #000;
}
a.NavRouterLink:hover {
  color: #000;
  text-decoration: none;
}
a.NavRouterLink:active {
  color: #000;
}