.Legend > div {
    line-height: 14px;
    display: flex;
}

.Legend--color {
    display: inline-block;
    vertical-align: middle;
    border-radius: 2px;
    width: 12px;
    height: 12px;
}

.Legend--label {
    display: inline-block;
    vertical-align: middle;
    font-family: Helvetica, sans-serif;
    font-size: 10px;
    margin: 0 6px 0 3px;
}

/* mobile first */
.Legend {
    align-self: flex-start;
    margin: 2em 0;
}
.Legend.centered {
  align-self: center;
  margin: 1em;
}
.Legend.wrapRow {
  display: flex;
  flex-flow: wrap;
  align-content: center;
  justify-content: center;
}

.Legend.inRow {
  display: flex;
  flex-flow: wrap;
  align-content: center;
  justify-content: center;
}

/* tablet range */
@media only screen and (max-width: 788px) {
  .Legend.wrapRow {
    order: 1;
  }
}
@media only screen and (min-width: 789px) {

  .Legend.wrapRow {
    display: block;
    order: 3;
  }
  .Legend.centered {
    align-self: center;
  }

}

/* desktop range */
@media only screen and (min-width: 992px) {
  /*.Legend.wrapRow {
    display: flex;
  }*/
}