.Year {
  width: auto;
  padding: 8px 0 0;
}

/*.Year {

}*/

@media only screen and (min-width: 430px) {
  .Year {
    width: 6rem;
    text-align: center;
  }

  .Year .Select-menu-outer {
    margin-top: -12px;
  }
}
